# compiled output
/backend/dist
/backend/node_modules
/backend/build

# Logs
/backend/logs
/backend/package-lock.json
/backend/*.log
/backend/npm-debug.log*
/backend/pnpm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*

# OS
/backend/.DS_Store
.DS_Store

# Tests
/backend/coverage
/backend/.nyc_output

# IDE - VSCode
.vscode/backend/*
!.vscode/backend/settings.json
!.vscode/backend/tasks.json
!.vscode/backend/launch.json
!.vscode/backend/extensions.json

# dotenv environment variable files
/backend/.env
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https:/backend//backend/nodejs.org/backend/api/backend/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.*
/frontend.yarn/*
/frontend!.yarn/patches
/frontend!.yarn/plugins
/frontend!.yarn/releases
/frontend!.yarn/versions

# testing
/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
*.pem

# env files (can opt-in for committing if needed)
/frontend/.env*

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

/frontend/package-lock.json